@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[jam-theme="dark"] {
    --text: #fff;
    --background: #252933;
    --border: #52575a;
    --grayText: #9fa3a8;
    --scrollbar: #ffffff87;
    --shimmer: #ffffff0d;
    --redText: #f04438;
    --yellowText: #f8b942;
    --greenText: #18c852;
  }

  :root[jam-theme="gray"] {
    --text: #fff;
    --background: #22272e;
    --border: #686d70;
    --grayText: #9fa3a8;
    --scrollbar: #ffffff87;
    --shimmer: #ffffff0d;
    --redText: #f04438;
    --yellowText: #f8b942;
    --greenText: #18c852;
  }

  :root[jam-theme="light"] {
    --text: #101828;
    --background: #fff;
    --border: #d0d5dd;
    --grayText: #475467;
    --scrollbar: #13294a91;
    --shimmer: #2828280d;
    --redText: #f04438;
    --yellowText: #fdb022;
    --greenText: #0cae34;
  }

  :root[jam-theme="darkBlue"] {
    --text: #fff;
    --background: #13294a;
    --border: #52575a;
    --grayText: #9fa3a8;
    --scrollbar: #ffffff87;
    --shimmer: #ffffff0d;
    --redText: #f04438;
    --yellowText: #f8b942;
    --greenText: #18c852;
  }

  h1 {
    @media screen and (min-width: 768px) {
      font-size: 34px;
    }
    font-size: 26px;
    font-weight: 600;
  }

  h2 {
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
    font-size: 20px;
    font-weight: 600;
  }

  h3 {
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
    font-size: 16px;
    font-weight: 600;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) transparent;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
      margin-block: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: var(--scrollbar);
      opacity: 0.5;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar);
    }
  }
}
